@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7df1e;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

pre {
  font-size: 2em;
  text-align: left;
  background-color: #FFFFFF;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

ul {
  font-size: 2em;
  text-align: left;
}
