@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7df1e;
  height: 100vh;
}

pre {
  font-size: 2em;
  text-align: left;
  background-color: #FFFFFF;
}

.wrap {
  margin: auto;
  width: 100vw;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#slides > div {
  height: 100%;
  width: 100vw;
  float: left;
  margin-right: 200px;
  text-align: center;

  /* Flexible Box Model */
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;

  display: box;
  box-align: center;
  box-orient: horizontal;
  box-pack: center;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

ul {
  font-size: 2em;
  text-align: left;
}
